<header id="head" class="header">
    <!-- Start of Column 1 -->
    <div class="_col-1">
        <span class="span-1">
            Jasper Diola
        </span>
      </div>
    <!-- Start of Column 2 -->
    <div class="_col-2">
        <ul class="_row-1">
            <li class="nav-home">Home</li>
            <li class="nav-about">About</li>
            <li class="nav-sites">Sites</li>
            <li class="nav-work">Work</li>
            <li class="nav-contact">Contact</li>
        </ul>
    </div> 
</header>
