<div class="main">
  <!-- Start of Header -->
  <header class="header">
    <app-header></app-header>
  </header>
  <!-- Start of Block 1 -->
  <div class="blk-1">
    <!-- Start of Block 1 Column 1 -->
    <div class="blk-1-col-1">
      <!-- Start of Block 1 Row 1 -->
      <div class="blk-1-row-1">
        <div class="main-content">
          <!-- Start of Col 1 -->
          <div class="_col-1">
            <!-- Start of Row 1 -->
            <div class="_row-1">
              <h1 class="h1">
                <p class="p-1">Hi,</p>
                <p class="p-2">I am <b class="p-name">Jasper</b></p>
                <p class="p-3">Software Engineer</p>
              </h1>
            </div>
            <!-- Start of Row 2 -->
            <div class="_row-2">
              <button id="contant" class="btn-contact">
                Contact
              </button>
            </div>
          </div>
          <!-- Start of Col 2 -->
          <div class="_col-2">
            <!-- Start of Row 1 -->
            <div class="_row-1">
              <img src="" alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- Start of Block 1 Row 2 -->
      <div class="blk-1-row-2">
      </div>
    </div>
  </div>
  <!-- Start of Footer -->
  <footer class="footer">
    <app-footer></app-footer>
  </footer>
</div>